<div class="center" *ngIf="!!matrix">
  <div class="right matrix">
    <app-trajectory [data]="records" (pointListChange)="pointListChange($event)">
      <table class="responsive-table-input-matrix">
        <thead>
          <tr>
            <th></th>
            <th *ngFor="let cr of matrix.criticals" class="critical">{{ cr.code }}</th>
          </tr>
        </thead>
        <tbody style="position:relative;">
          <tr *ngFor="let ps of matrix.odds;index as i">
            <td class="odds">{{ ps.code }}</td>
            <td *ngFor="let cr of matrix.criticals;index as j" [ngStyle]="{'background-color': matrix.matrix[i][j].colorCode}" class="risk">
              <app-level-block [id]="ps.matrixLevel + '-' + cr.matrixLevel" [matrix]="matrix.matrix[i][j]" [pointList$]="service.pointList$"></app-level-block>
            </td>
          </tr>
        </tbody>
      </table>
    </app-trajectory>
  </div>
</div>